body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

button.deploy, button.reset {
    /* width: 6rem; */
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.66);
    color: whitesmoke;
}
div.head {
    display: flex;
    justify-content: center;
}
table { margin-bottom: 3rem;}
td {
    min-width: 1rem;
    min-height: 1.6rem;
}
tr.gridSq { height: 2rem; background-color: rgba(0, 140, 255, 0.178); } 
td.gridSq {
    text-align: center;
    min-width: 1.6rem;
    max-width: 1.6rem;
    min-height: 1.6rem;
    max-height: 1.6rem; 
}
td.type { min-width: 10rem;}
td.label {
    text-align: left;
    font-weight: 500;
    min-width: 8rem;
}
td.colLabel, td.rowLabel { 
    text-align: center;    
    min-width: 1.6rem;
    max-width: 1.6rem;
}
.vessel { background-color: rgba(71, 61, 139, 0.432);}
.directhit { background-color: rgba(71, 61, 139, 0.432)}
.salvo { color: blue; font-size: 1.4rem; }

.boards, .data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grids {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.grids table {
    margin-right: 3rem;
}

.viz {
    visibility: visible;
}
.hid {
    visibility: hidden;
}
.opacityLo {
    opacity: 0.2;
    border: 0
}
.opacityHi {
    opacity: 1;
    border: 1px solid red
}

tr.vessel { background-color: transparent ;}
td.grid, .length { max-width: 1rem; min-width: 1rem }
td.vgrid {
    background-color:  rgba(71, 61, 139, 0.432);
    max-width: 1rem; min-width: 1rem
}